
#aboutTitle {
	color: 
}

#titleRow{
	padding-top: 75px;
    text-align: center;
    color: #676767;
}

#whatDoWeDoTitleRow{
	background-color: black;
	color: white;
	text-align: center;
}


#grapplingImage {
	max-width: 100%;
	max-height: 350px;
	margin-right: 0;
}

#grapplingDesc {
	text-align: center;
	
	
}

#whyJoinRow{
	background-color: black;
	color: white;
	text-align: center;
}

#contactUsRow{
	text-align: center;
	padding-top: 10px;
	color: #676767;
}

#grapplingParagraph {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#armbarBanner img{
	width: 100%;
}

#armbarBanner {
	background-color: black;
	
}

#joinP {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

#bottomBar li {
    display: inline;
    color: white;
    
}

#link{
    color: white;
    text-decoration: none;
}

#link:hover {
    color: gray;
}

#bottombarinfo {
    color: white;
    list-style: none;
    padding-left:5px;
    margin-bottom: 0;
    padding-bottom: 10px;;
    padding-top: 10px;;
}

#bottomBar{
    padding-left: 3vh;
    margin-bottom: 0;
}

#link {
    text-decoration: none;
}

#bottomBarOut{
   background-color: black;
}

@media only screen and (max-width: 700px) {
  #joinP {
    width: 95%;
	text-align: left;
  }
}

@media only screen and (max-width: 768px) {
	#grapplingParagraph {
		width: 95%;
	}
	#whatDoWeDoCol {
		text-align: center;
	}
	#whatDoWeDo p{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}
	#whyJoinCol{
		text-align: center;
	}
	#joinP {
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
	
}
