
#titleRow {
    padding-top: 75px;
    text-align: center;
    color: #676767;
	border-bottom: 1px solid #dee2e6;
}

#titlecol p{
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 600px) {
  #titlecol p{
    width: 95%;
  }
}


#workoutcol {
	padding-top: 3vh;
	text-align: center;
}

.list-group-item.active {
background-color: #3498db;
border-color: #3498db; }

#enduranceRowSm, #workoutcolSm {
	margin-bottom: 3vh;
	padding-bottom: 5vh;
	width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#workoutcolSm {
	margin-bottom: 0px;
	padding-bottom:10px;
} 


#workoutcolSm h3 {
	text-align: center;
}


#workoutcolSm h3{
	padding-top: 3vh;
}

@media only screen and (max-width: 350px) {
  #enduranceRowSm, #workoutcolSm{
    padding-bottom: 10vh;
  }
	#workoutcolSm {
	margin-bottom: -50px;
} 
}